Source: libosmo-abis
Section: libs
Priority: optional
Maintainer: Harald Welte <laforge@gnumonks.org>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, autoconf, automake, libtool, dh-autoreconf, libdpkg-perl, git, libosmocore-dev (>= 0.6.4), pkg-config, libortp-dev
Standards-Version: 3.9.0
Homepage: http://openbsc.osmocom.org/trac/wiki/libosmo-abis
Vcs-Git: git://git.osmocom.org/libosmo-abis.git
Vcs-Browser: http://git.osmocom.org/gitweb?p=libosmo-abis.git;a=summary

Package: libosmo-abis
Section: oldlibs
Architecture: any
Depends: libosmoabis1, libosmotrau0, ${misc:Depends}
Description: Legacy package for libosmo-abis
 libosmo-abis is an empty package helping in the transition to one
 package per DSO.

Package: libosmoabis1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSM A-bis handling

Package: libosmotrau0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GSM trau handling

Package: libosmo-abis-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libosmocore, libosmo-abis
Description: Development headers for A-bis interface.

Package: libosmo-abis-dbg
Section: debug
Architecture: any
Priority: extra
Depends: libosmoabis1 (= ${binary:Version}), libosmotrau0 (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for A-bis interface.
